.subImagesContainer {
  padding: 0;
  width: 560px;
  margin: 0 auto;
 }

.thumb {
  width: 160px;
  margin: 8px;
  border: 5px solid grey;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  transition:  transform 0.2s ease-in;
}



.thumb:hover{
  opacity: 0.8;
  transform: scale(1.1);
}

.lightbox {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0,0,0,0.85);
}

.close-lightbox{
  float: right;
  margin-right: 18px;
  margin-top: 12px;
  font-size: 2em;
  cursor: pointer;
}

.lightbox-img{
  display: block;
  width: 600px;
  margin: 0 auto;
  margin-top: 80px;
  border: 10px solid grey;
  border-radius: 5px;
}

.lightbox p{
  text-align: center;
}

.lightbox h1{
  text-align: center;
}

#close{
  transition: color 0.3s ease-in;
  transition: transform 0.2s ease-in;
}

#close:hover{
  color: grey;
  transform: rotate(-90deg);
  /*-webkit-transform: rotate(-45deg);*/
}



@media only screen and (max-width: 768px) {

  .buttons{
  width: 280px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

button{
	cursor: pointer;
	/*width: 20%;*/
	border: none;
	background: #52a2da;
	color: #FFF;
	padding: 8px;
	font-size: 15px;
	border-radius: 20px;
}

.buttons button:hover{
	background: white;
	color: #52a2da;
	transition: 0.5s;
}

.subImagesContainer {
  padding: 0;
  width: 80%;
  margin: 0 auto;
 }



.thumb {
  width: 100%;
  height: 100%;
  margin: 8px;
  border: 5px solid grey;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  transition:  transform 0.2s ease-in;
}



.thumb:hover{
  opacity: 0.8;
  transform: scale(1.1);
}

.lightbox {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  background-color: rgba(0,0,0,0.85);
}

.close-lightbox{
  float: right;
  margin-right: 18px;
  margin-top: 12px;
  font-size: 2em;
  cursor: pointer;
}

.lightbox-img{
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 90px;
  border: 10px solid grey;
  border-radius: 5px;
}

.lightbox p{
  text-align: center;
}

.lightbox h1{
  text-align: center;
}

#close{
  transition: color 0.3s ease-in;
  transition: transform 0.2s ease-in;
}

#close:hover{
  color: grey;
  transform: rotate(-90deg);
  /*-webkit-transform: rotate(-45deg);*/
}
}
