@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End Reset */
.homePageNav {
  width: 400px;
  margin: 0 auto;
  margin-top: 200px; }
  @media (max-width: 768px) {
    .homePageNav {
      width: 300px;
      margin: 0 auto;
      margin-top: 50px; } }
  .homePageNav ul li {
    display: block; }
    .homePageNav ul li:hover {
      color: #4487CC;
      background: white; }
    .homePageNav ul li a {
      margin-bottom: 15px;
      padding: 8px 8px 8px 32px;
      padding: 8px;
      border-radius: 25px;
      border: 2px solid #4487CC;
      text-align: center;
      list-style-type: none;
      text-decoration: none;
      font-size: 25px;
      color: #4487CC;
      display: block;
      background: transparent;
      font-size: 15px;
      font-weight: bold;
      transition: 0.5s; }
      .homePageNav ul li a:hover {
        color: white;
        background: #4487CC; }

/*About me page starts*/
.Aboutbody {
  width: 960px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 400px;
  display: block; }
  @media (max-width: 768px) {
    .Aboutbody {
      width: 100%;
      margin: 0 auto;
      padding-top: 0; } }
  .Aboutbody .pic img {
    width: 30%;
    padding: 5px;
    border: 1px solid #2d2d2d;
    transition: all .2s ease-in;
    float: left; }
    @media (max-width: 768px) {
      .Aboutbody .pic img {
        width: 100%;
        padding: 0;
        border: none;
        transition: all .2s ease-in;
        margin-bottom: 50px; } }
    .Aboutbody .pic img:hover {
      transform: scale(1.05); }
  @media (min-width: 769px) {
    .Aboutbody .liljake {
      display: none; } }
  @media (max-width: 768px) {
    .Aboutbody .liljake {
      margin-top: 40px;
      margin-bottom: 60px;
      margin-left: 20px;
      font-size: 28px;
      font-weight: bold; } }
  .Aboutbody .bio {
    width: 60%;
    float: right;
    margin-bottom: 50px; }
    @media (max-width: 768px) {
      .Aboutbody .bio {
        width: 300px;
        float: none;
        margin: 0 auto; } }
  .Aboutbody .title {
    /*margin-top: 40px;*/
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold; }
    @media (max-width: 768px) {
      .Aboutbody .title {
        margin-top: 40px;
        margin-bottom: 30px; } }
  .Aboutbody .info {
    float: right;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 24px; }
    @media (max-width: 768px) {
      .Aboutbody .info {
        overflow: hidden;
        font-size: 16px; } }
  .Aboutbody #name {
    width: 30%;
    float: left; }

/*about me page ends*/
/*contact starts */
.Concontainer {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px; }
  @media (max-width: 768px) {
    .Concontainer {
      max-width: 360px; } }
  .Concontainer h1 {
    font-size: 26px;
    font-weight: bold; }
  .Concontainer h2 {
    font-weight: bold; }

.contactTitle {
  text-align: center;
  font-size: 26px;
  margin-bottom: 15px; }
  @media (max-width: 768px) {
    .contactTitle {
      padding-top: 15px;
      font-weight: bold; } }

.greyBox {
  width: 100%;
  height: 40px;
  background-color: #2d2d2d;
  margin-bottom: 45px;
  overflow: hidden; }

#conTitle {
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 26px;
  font-weight: bold; }

.contactHeader {
  text-align: center;
  font-size: 16px; }

#contact {
  background: transparent;
  padding: 18px;
  margin-top: 30px;
  /*border: 2px solid #52a2da;*/
  border-radius: 20px; }
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"] {
    width: 100%;
    border: 2px solid #52a2da;
    border-radius: 50px;
    margin: 0 0 15px;
    padding: 10px;
    font-size: 18px; }
  #contact textarea {
    width: 100%;
    height: 200px;
    border: 2px solid #52a2da;
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    resize: none; }
  #contact fieldset {
    border: none;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%; }

#contact button {
  cursor: pointer;
  width: 30%;
  border: none;
  background: #52a2da;
  color: #FFF;
  padding: 8px;
  font-size: 15px;
  border-radius: 20px; }
  @media (max-width: 768px) {
    #contact button {
      width: 100%; } }
  #contact button:hover {
    background: white;
    color: #52a2da;
    transition: 0.5s;
    border: 1px solid #52a2da; }

/*gallery starts*/
.subImagesContainer {
  padding: 0;
  width: 984px;
  margin: 0 auto;
  margin-bottom: 100px; }
  @media (max-width: 768px) {
    .subImagesContainer {
      width: 80%; } }

.catagory {
  width: 984px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold; }
  @media (max-width: 768px) {
    .catagory {
      width: 80%;
      font-weight: bold; } }

#portTitle {
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 26px;
  font-weight: bold; }

.thumb {
  width: 320px;
  height: 180px;
  overflow: hidden;
  margin-right: 8px;
  border: 1px solid #2d2d2d;
  padding: 2px;
  /*border-radius: 5px;*/
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  transition: transform 0.2s ease-in; }
  @media (max-width: 768px) {
    .thumb {
      padding: 2px;
      width: 100%;
      height: 200%;
      margin-right: 0px;
      z-index: 1; } }
  .thumb:hover {
    opacity: 0.8;
    transform: scale(1.03); }

.lightbox {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.85); }
  @media (max-width: 768px) {
    .lightbox {
      height: 300%;
      overflow: hidden;
      overflow-y: hidden; } }
  .lightbox h1 {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold; }
  .lightbox p {
    text-align: center;
    font-size: 16px; }

.close-lightbox {
  float: right;
  margin-right: 18px;
  margin-top: 12px;
  font-size: 2em;
  cursor: pointer; }

.lightbox-img {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 5px;
  border: 1px solid white; }
  @media (max-width: 768px) {
    .lightbox-img {
      width: 90%; } }

#close {
  transition: color 0.3s ease-in;
  transition: transform 0.2s ease-in; }
  #close:hover {
    color: grey;
    transform: rotate(-90deg); }

.buttons {
  width: 335px;
  margin: 0 auto;
  margin-bottom: 20px; }
  .buttons button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: #52a2da;
    border: 1px solid #52a2da;
    padding: 8px;
    font-size: 15px;
    border-radius: 0px; }
    .buttons button:hover {
      background: #52a2da;
      color: white;
      transition: 0.5s; }

/*gallery ends*/
#navB {
  background-image: url(../images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px; }

.arrow {
  margin-left: 10px;
  margin-top: 13px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
  transition: all 0.3s ease; }
  .arrow:hover {
    transform: scale(1.1); }

.top {
  z-index: 4;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  right: 25px;
  background-color: #52a2da;
  text-align: center;
  text-decoration: none;
  display: none;
  opacity: 0.8;
  transition: all 0.3s ease; }
  .top:hover {
    background-color: #52a2da;
    opacity: 1; }

.homeLogo {
  width: 100px;
  margin: 0 auto;
  margin-top: 100px; }
  .homeLogo img {
    width: 100%; }

.message {
  text-align: center;
  color: white;
  margin-top: 50px; }

.headerLogo {
  float: right;
  width: 60px;
  margin-top: 6px;
  margin-right: 15px; }

.navCon {
  /*margin-bottom: 40px;*/
  font-family: "Arial";
  height: auto;
  width: 100%;
  margin-bottom: 20px;
  float: left;
  background-color: #2d2d2d; }

.navigation {
  width: 960px;
  margin: 0 auto; }
  .navigation ul li {
    display: inline; }
    .navigation ul li a {
      font-size: 14px;
      color: white;
      display: inline-block;
      height: 15px;
      line-height: 65px;
      margin: 0px;
      padding: 0px 15px;
      text-decoration: none;
      transition: color 0.3s ease-in;
      margin-bottom: 50px; }
      .navigation ul li a:hover {
        color: #4487CC; }

@media (min-width: 769px) {
  .sidenav {
    display: none; } }

@media only screen and (max-width: 768px) {
  .navigation {
    display: none; }

  .logo {
    max-width: 100px;
    margin: 0 auto;
    margin-bottom: 30px; }
    .logo img {
      width: 100%; }

  .sidenav {
    z-index: 3;
    list-style-type: none;
    height: 100%;
    width: 0;
    position: fixed;
    /*z-index: 1;*/
    top: 0;
    left: 0;
    background-color: #2d2d2d;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; }
    .sidenav li a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      transition: 0.3s; }

  .social {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    display: block;
    width: 119px;
    margin-top: 50px; }
    .social img {
      margin-right: 7px;
      padding-left: 5px;
      padding-right: 5px;
      width: 35px;
      cursor: pointer;
      transition: opacity 0.2s ease-in; }
      .social img:hover {
        cursor: pointer;
        opacity: 0.8; }

  #fb {
    width: 22px; }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

  .myCell {
    /*margin-top: 80px;*/
    color: white;
    font-size: 12px;
    text-align: center; }

  .bar1 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    border-radius: 20px; }

  .bar2 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    border-radius: 20px; }

  .bar3 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    border-radius: 20px; }

  .hamburger {
    padding-top: 8px;
    padding-left: 15px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    background-color: #4487CC;
    cursor: pointer;
    /*position: fixed;*/ }

  .Stickyhamburger {
    z-index: 2;
    display: none;
    padding-top: 8px;
    padding-left: 15px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    background-color: #4487CC;
    cursor: pointer;
    position: fixed; } }
/*lowernav starts*/
#copyRight {
  font-weight: bold;
  font-size: 12px;
  color: white;
  float: right;
  line-height: 50px;
  padding: 0; }

#facebook {
  width: 18px; }

.social2 {
  float: right;
  width: 96px;
  background-color: #2d2d2d;
  margin-top: 13px;
  margin-right: 30px; }
  .social2 img {
    margin-right: 7px;
    padding-left: 5px;
    padding-right: 5px;
    width: 25px;
    cursor: pointer;
    transition: opacity 0.2s ease-in; }
    .social2 img:hover {
      cursor: pointer;
      opacity: 0.8; }

.lowerNav {
  /*position: absolute;*/
  position: relative;
  width: 960px;
  height: 10px;
  margin: 0 auto; }
  .lowerNav ul li {
    display: inline; }
    .lowerNav ul li a {
      font-size: 12px;
      color: white;
      display: inline-block;
      height: 15px;
      line-height: 49px;
      margin: 0px;
      padding: 0px 12px;
      text-decoration: none;
      transition: color 0.3s ease-in;
      margin-bottom: 50px; }
      .lowerNav ul li a:hover {
        color: #4487CC; }

.navContainer {
  position: fixed;
  font-family: "Arial";
  height: auto;
  width: 100%;
  background-color: #2d2d2d;
  bottom: 0;
  left: 0;
  right: 0; }
  @media (max-width: 768px) {
    .navContainer {
      display: none; } }

/*lowernav ends*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px; }

@media only screen and (max-width: 768px) {
  /*home screen Nav starts*/
  /*home screen Nav ends*/
  #navB {
    /*background-image: url(../images/background.jpg) ;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*background-color: #999;*/
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px; } }

/*# sourceMappingURL=styles.css.map */
