
.bodyOne{
  width: 100%;
  background-image: url(../images/desktop_about_bg.png);

  @include bp(desktop){
  background-image: url(../images/desktop_about_bg.png) ;
}
  @include bp(tablet){
    background-image: url(../images/aboutbody_tablet.png) ;
  }
  background-position: center center;
  background-repeat:  no-repeat;
  background-blend-mode: overlay;
  width: 100%;
}

.Aboutbody{
  width: 960px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 400px;
  display: block;
  @include bp(mobile) {
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 300px;
  }

  @include bp(tablet){
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 250px;
  }


  .pic img{
    @include bp(mobile) {
      width: 100%;
      padding: 0;
      border: none;
      transition: all .2s ease-in;
      margin-bottom: 50px;
    }
    @include bp(tablet){
      width: 100%;
      padding: 0;
      border: none;
      transition: all .2s ease-in;
      margin-bottom: 50px;
    }
    width: 30%;
    padding: 5px;
    border: 1px solid white;
    transition: all .2s ease-in;
    &:hover{
      transform: scale(1.05);
    }
    float: left;
  }


  .liljake{
    @include bp(mobileup){
      display: none;
    }
    @include bp(mobile) {
      margin-top: 40px;
      margin-bottom: 60px;
      margin-left: 20px;
      font-size: 28px;
      font-weight: bold;
    }
  }

  .bio{
    width: 60%;
    float: right;
    margin-bottom: 50px;
    @include bp(tablet) {
          width: 600px;
          float: none;
          margin: 0 auto;
        }
    @include bp(mobile) {
      width: 300px;
      float: none;
      margin: 0 auto;
    }
  }

  .title{
    margin-bottom: 30px;
    font-size: 36px;
    color: white;
    font-weight: bold;
    @include bp(mobile){
      margin-top: 40px;
      margin-bottom: 30px;
    }
    @include bp(tablet){
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }

  .info{
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 24px;
    color:white;
    font-weight: bold;
    @include bp(mobile){
      overflow: hidden;
      font-size: 16px;
    }
    @include bp(tablet){
      overflow: hidden;
      font-size: 16px;
    }
  }


  #name{
    width: 30%;
    float: left;
  }

}
